* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
}
/*HEADER*/
header{
    background: #2A324B;
    opacity: 0.8;
    color: #FFF;
    font-size: 1.1em;
    background-color: rgba(42,50,75,0.6); 
}
.header-grid{
    display: grid;
    grid-template-columns: repeat(4,auto);
}
#new{
    border-style: none;
    background:  #2A324B;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
    font-size: 1.1em;
    height: 50px;
    width:140px;
    margin-left: 15px;
    background-color: rgba(42,50,75,0.6); 
}
#new:hover{
    background: #64697C;
}
.h-item{
    line-height: 50px;
}
/*/HEADER*/
/*MAIN CONTAINER*/
#tap{
    font-size: 4em;
    text-align: center;
    z-index: 9999;
    position: absolute;
    left: 500px;
    top: 270px;
    /*margin: 0 auto;*/
/*    color: #328984;*/
    color: #2A324B;
    font-weight: 600;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    max-width: 500px;
    margin: 20px auto 0;
    position: relative;
    z-index: 0;
    
}

.block {
    width: 100px;
    height: 120px;
    box-shadow: 10px 10px 10px -10px  rgba(0,0,0,1);
/*    background: ;*/
    border-radius: 5px;
    background-color: rgba(42,50,75,0.6); 
/*    border: solid 1px #000;*/
}
/*/MAIN CONTAINER*/
/*WINNING DIV*/
#won{
    width: 500px;
    height: 300px;
    /*margin: 0 auto;*/
    border: 1px solid #000;
    z-index: 10000;
    background:  #2A324B;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 150px;
    left:425px;
    border-radius: 50px;
}
#won h2{
    padding: 30px 30px 20px 30px;
    font-size: 2em;
    font-weight: 500;
}
#won p{
    font-size: 1.4em;
    padding-top: 10px;
}
#won button{
    border-style: none;
    background: #D4A418;
    padding: 10px;
    width: 120px;
    font-size: 1.2em;
    margin-top: 35px;
    border-radius: 10px;
}
#won button:hover{
    background: #C19616;
    cursor: pointer;
}
#cancel{
    margin-left: 30px;
}
/*/WINNING DIV*/
/*TIMEOUT DIV*/
#timeout{
    width: 500px;
    height: 300px;
/*    margin: 0 auto;*/
/*    border: 1px solid #000;*/
    z-index: 10000;
    background:  #D4A418;
    color: #2A324B;
    text-align: center;
    position: absolute;
    top: 150px;
    left:425px;
    border-radius: 50px;
}
#timeout h2{
    padding: 30px 30px 20px 30px;
    font-size: 2em;
    font-weight: 500;
}
#timeout p{
    font-size: 1.4em;
    padding-top: 10px;
}
#timeout button{
    border-style: none;
    background: #2A324B;
    color: #fff;
    padding: 10px;
    width: 120px;
    font-size: 1.2em;
    margin-top: 35px;
    border-radius: 10px;
}
#timeout button:hover{
    background: #23293E;
    cursor: pointer;
}
/*/TIMEOUT DIV*/

@media (min-width: 1024px) and (max-width: 1354px) {
    #tap{
        position: absolute;
        top: 270px;
        left:34%;
        /*left:250px;*/
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .grid {
    /*display: grid;*/
    /*grid-template-columns: repeat(4,auto);*/
    /*grid-gap: 10px;*/
    
    }
    #tap{
        position: absolute;
        top: 270px;
        left:30%;
        /*left:250px;*/
    }


}

@media (min-width: 551px) and (max-width: 767px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 10px;
        max-width: 420px;
        margin: 20px auto 0;
        position: relative;
    z-index: 0;
    }
    #tap{
        position: absolute;
        top: 270px;
        left:25%;
        /*left:250px;*/
    }
}
@media (min-width: 220px) and (max-width: 550px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4,auto);
        grid-gap: 10px;
        max-width: 250px;
        margin: 20px auto 0;
        position: relative;
    z-index: 0;
    }
    #tap{
        position: absolute;
        top: 270px;
        left:25%;
    }
    .block {
        width: 90px;
        height: 110px;
    }
}
